/* navBar.css */

.navbar {
  position: fixed;
  top: 0;                  
  left: 0;
  right: 0;               
  z-index: 999; 
  display: flex;
  justify-content: space-between;
  align-items: center;
 background: linear-gradient(135deg, #9b18b9, #330b73);
  color: white;
  padding: 12px 24px;
  font-size: 18px;
}

.navbar-left {
  display: flex;
  align-items: center;
}

.avatar {
  width: 60px;
  height: 60px;
  border-radius: 40%;
  margin-right: 25px;
  margin-left: 5px;
  border: 5px solid #ffffff;
  border-width: 3px;
}

.username {
  font-weight: bold;
  font-size: 140%;
  color: black;
  text-shadow:
    -1.2px -1.2px 0 white,
     1px -1px 0 white,
    -1.2px  1.2px 0 white,
     1.2px  1.2px 0 white;
  letter-spacing: 1.2px;
     
}

.profile-link {
  font-size: 0.9rem;
  color: #ffffff;
  cursor: pointer;
  margin-top: 8px;
  display: block;
  margin-left: 1px;
}

.profile-link:hover {
  color: #b0becd;
}



.navbar-right .tab {
  margin-left: 20px;
  text-decoration: none;
  color: white;
  padding: 6px 12px;
  border-radius: 6px;
  transition: 0.2s;
}

.navbar-right .tab:hover {
  background-color: #321764;
}

.navbar-right .active-tab {
  border: 2px solid white;
  background-color: #682082;
}