/* src/pages/components/StarRating.css */

.star-rating {
  display: flex;
  cursor: pointer;
}

.star-pair {
  position: relative;
  width: 1.6em;
  height: 1.5em;
  margin-right: 0.8em;
  user-select: none;
}

.star {
  font-size: 1.6em;
  color: #ccc;
  position: absolute;
  top: 0;
  left: 0;
  height: 1.5em;
  line-height: 1.5em;
  pointer-events: auto;
  transition: color 0.2s;
}

.star.left {
  clip-path: polygon(0 0, 50% 0, 55% 100%, 0 100%);
  z-index: 2;
}

.star.right {
  clip-path: polygon(50% 0, 100% 0, 100% 100%, 50% 100%);
  z-index: 1;
}

.star.filled {
  color: gold;
}


.star-rating.editable .star:hover,
.star-rating.editable .star.left:hover,
.star-rating.editable .star.right:hover {
  color: orange;
}

/* styles foe reading */
.star-rating.readonly {
  cursor: default;
}

.star-rating.readonly .star {
  pointer-events: none;
  color: #ccc;
}

.star-rating.readonly .star.filled {
  color: gold;
}

.star-rating.readonly .star:hover {
  color: inherit;
  cursor: default;
  pointer-events: none;
}
